$main-color: rgb(230, 216, 204);
$second-color: rgba(124, 76, 44, 0.87);
$text-color: rgb(92, 39, 39);

body{
  background-color: $second-color;
  height: 100vh;
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #575757; /* or add it to the track */
    }
    &::-webkit-scrollbar-thumb {
        background: #cacaca;
    }
}
p {
  margin: 0;
}

// 文字通用設定
.text-brown {
  color: $text-color;
}
.text-border {
  font-weight: 900;
}
.title {
  font-size: 20px;
}
.text-space {
  letter-spacing: 2px;
}
// 背景通用設定
.bg-brown {
  background-color: $main-color;
}
.shadow-1 {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
// 位置通用設定
.position-fixed {
  z-index: 11;
}
.mt-6 {
  margin-top: 86px;
}
.center {
  margin: 0 auto;
}
// icon 大小設定
.icon-size {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.nav-icon-size {
  width: 30px;
  height: 30px;
}
// 滑鼠禁止畫面
.mouse-not {
  pointer-events: none;
}
// 表格邊角圓潤
.table-radius {
  border-radius: 5px;
}

// nav
.nav-action {
  transition: ease .5s;
  transition-property: font-size;
  position: relative;
  &:hover {
    transition: ease .5s;
    font-size: 20px;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: inline-block;
      width: 90%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      transform: skew(-30deg);
    }
  }
}

// about
.ml9 {
    position: relative;
        top: -400px;
        left: 200px;
    z-index: 10;
    font-weight: 200;
    font-size: 4em;
    display: inline-block;
    width: 600px;
    background-color: rgba( #d1cdcd, 0.3);
    text-align: center;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  // product
  .coffe-bean {
    background-image: url('/images/cofeebean.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
    &::before {
      content: '嚴選經典咖啡豆製成';
      background-color: rgba(253, 252, 248, 0.596);
      padding: 50px 100px;
      position: absolute;
        top: 30%;
        left: 32%;
      font-size: 24px;
      font-weight: 900;
      color: $text-color;
      letter-spacing: 3px;
      animation: tiao_fly 0.2s 0s alternate infinite;
    }
  }
  .category {
    background-color: rgb(245, 235, 235);
    padding: 0;
    border-radius: 5px 5px;
    li {
      border-bottom: 1px solid rgb(146, 145, 145);
    }
    .title {
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: 900;
      background-color: brown;
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-weight: 900;
      font-size: 20px;
      display: inline-block;
      width: 100%;
      padding: 10px 30px;
      &:hover {
        background-color: rgb(199, 183, 154);
        transition: .5s;
      }
    }
  }
  .category-title {
    position: relative;
    padding-left: 20px;
    // display: inline-block;
    &::before {
      content: '';
      position: absolute;
        left: -1px;
      display: inline-block;
      width: 5px;
      height: 30px;
      background-color: cadetblue;
    }
  }
  .form-select {
    width: auto;
  }
  .card {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 3px 3px 10px black;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    margin-right: 30px;
    width: 270px;
    &:hover{
      transform: scale(1.06);
      transition: transform 0.5s;
      &::before {
        content: '查看更多';
        color: rgb(75, 74, 74);
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        line-height: 150px;
        display: inline-block;
        width: 100%;
        height: 150px;
        background-color: rgba(231, 234, 240, 0.63);
        position: absolute;
      }
    }
    .sale {
      width: 60px;
      height: 60px;
      position: absolute;
    }
    .card-img-top {
      height: 150px;
      background-size: cover;
      background-position: center;
    }
    p {
      margin-right: 10px;
    }
    .cart-icon {
      width: 25px;
      height: 25px;
      margin-right: 20px;
    }
  }
  // product-detail
  .detail-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .count {
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
  }
  .count-content {
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: 900;
  }
  .description-content {
    background-color: cornsilk;
    height: 500px;
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    // opacity: 0;
  }
  @keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  // cart
  .cart-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    visibility: hidden;
  }
  .cart {
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 27%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #575757; /* or add it to the track */
    }
    &::-webkit-scrollbar-thumb {
        background: #cacaca;
    }
    ul {
      padding: 0;
    }
    li {
      background-color: rgb(56, 56, 56);
      padding: 5px 10px;
      border-bottom: 1px solid black;
      position: relative;
      &:first-child {
        background-color: rgb(31, 30, 30);
        padding: 15px;
      }
      a {
        text-decoration: none;
      }
      .del-btn {
        position: absolute;
        top: 25px;
        right: 15px
      }
    }
    .cart-img {
      width: 80px;
      height: 80px;
      background-position: center;
      background-size: cover;
    }
  }
  #cartBtn:checked ~ .cart-container {
    visibility: visible;
  }

  // Order
  .order-img {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
  }
  // progressbar
  #progressbar {
    // border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    li {
      width: 70px;
      height: 70px;
      background-color: rgb(144, 144, 245);
      border-radius: 50%;
      line-height: 70px;
      text-align: center;
      font-weight: 900;
      position: relative;
      &:not(:first-child):before {
        content: '';
        display: inline-block;
        width: 306px;
        height: 10px;
        background-color: rgb(144, 144, 245);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        margin: auto;
      }
      &.active {
        background-color: rgb(144, 144, 245);
        & ~ li{
          background-color: rgb(202, 202, 238);
        }
        & ~ li::before {
          background-color: rgb(202, 202, 238);
        }
      }
    }
  }
  // order-personal
  .personal-title {
    background-color: rgb(236, 219, 202);
    padding: 10px;
  }

  // swal 彈跳視窗
  .swal-modal {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 400px;
    display: flex;
    padding: 10px;
    .swal-icon {
      margin: 20px;
    }
    .swal-title {
      padding-top: 40px;
    }
  }
  .red-bg {
    background-color: rgb(241, 133, 133);
  }

  // login
  .db {
    text-align: center;
  }
  .db-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
